.signup-in {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.signup-in .signup-in-modal-content {
  background-color: #f4f4f4;
  margin: 10% auto;
  width: 60%;
  -webkit-box-shadow: 0 0 30px 0 #515151;
          box-shadow: 0 0 30px 0 #515151;
  position: relative;
  border-radius: 5px;
  min-height: 500px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.signup-in .signup-in-modal-content .close-btn {
  position: absolute;
  top: 2%;
  right: 3%;
  font-size: 3rem;
  z-index: 1;
  cursor: pointer;
}

.signup-in .signup-in-modal-content .close-btn:hover {
  color: #f00e0e;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.signup-in .signup-in-modal-content .signup-in-modal-content-left {
  background: -webkit-gradient(linear, left top, right top, from(#f74a46), to(#ec2b00));
  background: linear-gradient(90deg, #f74a46 0%, #ec2b00 100%);
  border-radius: 0 5px 5px 0;
  position: relative;
}

.signup-in .signup-in-modal-content .signup-in-modal-content-left img {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.signup-in .signup-in-modal-content .signup-in-modal-content-right {
  border-radius: 0 5px 5px 0;
  position: relative;
}

.signup-in .signup-in-modal-content .signup-in-modal-content-right .signup-in-modal-form {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signup-in .signup-in-modal-content .signup-in-modal-content-right .signup-in-modal-form h1 {
  font-size: 1rem;
  text-align: start;
  width: 80%;
  margin-bottom: 1rem;
}

.signup-in .signup-in-modal-content .signup-in-modal-content-right .signup-in-modal-form .form-validation {
  margin-bottom: 0.5rem;
  width: 80%;
}

.signup-in .signup-in-modal-content .signup-in-modal-content-right .signup-in-modal-form .form-validation.error {
  margin-bottom: 1.5rem;
  position: relative;
  border: 1px solid #f00e0e;
  border-radius: 2px;
}

.signup-in .signup-in-modal-content .signup-in-modal-content-right .signup-in-modal-form .form-validation.error p {
  display: block;
}

.signup-in .signup-in-modal-content .signup-in-modal-content-right .signup-in-modal-form .form-validation.valid {
  margin-bottom: 0.5rem;
  position: relative;
  border: 1px solid #0add0a;
  border-radius: 2px;
}

.signup-in .signup-in-modal-content .signup-in-modal-content-right .signup-in-modal-form .form-validation p {
  font-size: 0.7rem;
  margin-top: 0.5rem;
  color: #f00e0e;
  display: none;
  position: absolute;
  top: 1.8rem;
}

.signup-in .signup-in-modal-content .signup-in-modal-content-right .signup-in-modal-form .form-validation .modal-input {
  display: block;
  padding-left: 0.5rem;
  outline: none;
  border-radius: 2px;
  border: none;
  height: 2rem;
  width: 100%;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
}

.signup-in .signup-in-modal-content .signup-in-modal-content-right .signup-in-modal-form .form-validation .modal-input::-webkit-input-placeholder {
  color: #b1b1b1;
}

.signup-in .signup-in-modal-content .signup-in-modal-content-right .signup-in-modal-form .form-validation .modal-input:-ms-input-placeholder {
  color: #b1b1b1;
}

.signup-in .signup-in-modal-content .signup-in-modal-content-right .signup-in-modal-form .form-validation .modal-input::-ms-input-placeholder {
  color: #b1b1b1;
}

.signup-in .signup-in-modal-content .signup-in-modal-content-right .signup-in-modal-form .form-validation .modal-input::placeholder {
  color: #b1b1b1;
}

.signup-in .signup-in-modal-content .signup-in-modal-content-right .signup-in-modal-form .modal-input-btn {
  width: 80%;
  height: 2rem;
  border-radius: 4px;
  background-color: #f9423d;
  outline: none;
  border: none;
  color: white;
  font-size: 1rem;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.signup-in .signup-in-modal-content .signup-in-modal-content-right .signup-in-modal-form .modal-input-btn:hover {
  background-color: #337af1;
}

.signup-in .signup-in-modal-content .signup-in-modal-content-right .signup-in-modal-form .modal-input-login {
  font-size: 0.8rem;
  margin-top: 1rem;
  width: 80%;
  color: #b1b1b1;
  text-align: center;
}

.signup-in .signup-in-modal-content .signup-in-modal-content-right .signup-in-modal-form .modal-input-login a {
  text-decoration: none;
  color: #f9423d;
  font-size: 600;
}

@media screen and (max-width: 768px) {
  .signup-in .signup-in-modal-content-left {
    display: none;
  }
  .signup-in .signup-in-modal-content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin: 15% auto;
    width: 70%;
    height: 75%;
  }
}

@media screen and (max-width: 580px) {
  .signup-in .signup-in-modal-content {
    margin: 20% auto;
    width: 90%;
    height: 80%;
  }
}

/* ======= BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px) and Small (sm) devices (landscape phones, 576px and up) 

==========*/
/* Header */
.navbar {
  display: none;
}

.HH-header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(100% - 50px);
  margin: 20px auto;
}

.HH-header-container .logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.HH-header-container .logo-container .logo {
  width: 60px;
  height: 60px;
}

.HH-header-container .tagline {
  font-family: "Allura", cursive;
  font-size: 24px;
}

.hamburger-icon-container {
  display: block;
  cursor: pointer;
}

@media (min-width: 768px) {
  /* Header */
  .HH-header-container .logo-container .logo {
    width: 80px;
    height: 80px;
  }
}

/*====== BREAK POINTS

Large (lg) devices (desktops, 992px and up) 

==========*/
@media (min-width: 992px) {
  .hamburger-icon-container {
    display: none;
  }
  .HH-header-container {
    display: block;
    text-align: center;
    /* margin: 20px auto; */
  }
  .HH-header-container .logo-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .HH-header-container .logo-container .logo {
    width: 100px;
    height: 100px;
  }
  .tagline {
    font-size: 36px;
    width: 50%;
    text-align: center;
  }
  .tagline::before, .tagline::after {
    background-color: #cc6d58;
    content: "";
    display: inline-block;
    height: 1px;
    bottom: 0.1em;
    position: relative;
    vertical-align: baseline;
    width: 20%;
    margin: 0 15px;
  }
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-top: 30px;
    padding-left: 40px;
  }
  .navbar-left {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(0, 1fr))[4];
        grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1rem;
  }
  .navbar-left a,
  .navbar-right a {
    padding-right: 40px;
    font-size: 1.2em;
    font-weight: 500;
    color: #cc6d58;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .navbar-left a:hover,
  .navbar-right a:hover {
    color: #bc4b51;
    font-weight: 900;
  }
  .logo-container a,
  .navbar a {
    text-decoration: none;
    width: 125px;
  }
}

/* Side menu */
.side-menu-design {
  background-color: rgba(244, 225, 134, 0.85);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.side-menu-design .side-menu-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side-menu-design .side-menu-header .logo {
  width: 60px;
  height: 60px;
}

.side-menu-design .side-menu-header .side-menu-close-button {
  width: 30px;
  cursor: pointer;
}

.side-menu-position {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* inset: 0px; Should I use inset here instead of top, right, bottom, left? */
  width: 100%;
  /* the height doesnt cover the whole page vw, wh or percentage? */
  height: 100%;
  z-index: 6;
  opacity: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  /* there are no transition fading out */
}

.side-menu-content {
  opacity: 0;
  -webkit-transform: translateX(-110%);
          transform: translateX(-110%);
  -webkit-transition: all 500ms ease-in-out 0.5s;
  transition: all 500ms ease-in-out 0.5s;
}

.side-menu-content a {
  text-decoration: none;
  display: block;
  font-size: 1.7rem;
  font-weight: 500;
  color: #1f2421;
  padding: 20px 0;
}

.side-menu-content hr {
  border: 1px solid #f4a259;
}

.side-menu-content .mobileNav-top {
  padding-left: 60px;
}

.side-menu-content .mobileNav-top .HH-button.sign-up {
  color: #fcf7ee;
  padding: 10px 10px 7px 10px;
  border-radius: 40px;
  max-width: 300px;
}

.side-menu-content .mobileNav-top a:hover {
  color: #5b8e7d;
}

.side-menu-content .mobileNav-bottom {
  padding: 10px 20px;
}

.side-menu-content .mobileNav-bottom .personal-account:hover {
  color: #5b8e7d;
}

.show-menu {
  opacity: 1;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: opacity 500ms ease-in-out 0s;
  transition: opacity 500ms ease-in-out 0s;
}

/* DROPDOWN MENU */
.dropdowns {
  position: relative;
  display: none;
}

.hh-dropdown-menu {
  background-color: #fff;
  -webkit-box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  /* creates a border */
  border-radius: 8px;
  display: none;
  padding: 15px;
  position: absolute;
  /* pops element up in the dom */
  top: 10px;
  /* just visually aligned this */
  width: 250px;
  z-index: 5;
  -webkit-animation: dropdown 0.7s;
          animation: dropdown 0.7s;
  /* add 'forwards' to prevent the dropdown box to jump back up IF the second translateY position IS NOT at 0% */
  will-change: transform;
}

.hh-dropdown-menu::after {
  position: absolute;
  top: -10px;
  left: 5%;
  width: 0;
  height: 0;
  content: "";
  border-bottom: 15px solid #fff;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}

.hh-dropdown-menu#coaching {
  left: 41px;
}

.hh-dropdown-menu#services {
  left: 184px;
  /* min-width: 400px;  */
}

.hh-dropdown-menu#contact {
  left: 472px;
  /* min-width: 400px; */
}

.hh-dropdown-menu .dropdown-item-list {
  margin: 0;
  padding-left: 0;
}

.hh-dropdown-menu .dropdown-item-list li {
  list-style: none;
}

.hh-dropdown-menu .dropdown-item-list li a, .hh-dropdown-menu .dropdown-item-list li a:visited, .hh-dropdown-menu .dropdown-item-list li a:focus {
  color: #454545;
  display: block;
  padding: 10px;
  /* just a little padding on the top and bottom */
  text-decoration: none;
}

.hh-dropdown-menu .dropdown-item-list li a:hover {
  background-color: rgba(244, 226, 133, 0.4);
  color: #5b8e7d;
}

@-webkit-keyframes dropdown {
  from {
    -webkit-transform: translateY(-3%);
            transform: translateY(-3%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes dropdown {
  from {
    -webkit-transform: translateY(-3%);
            transform: translateY(-3%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

.show {
  display: block;
  text-align: left;
}

@media (min-width: 992px) {
  .dropdowns {
    display: block;
  }
}
/*# sourceMappingURL=main.css.map */