.about-container {
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.about-container img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .about-container {
    padding: 30px;
    flex-direction: row;
    justify-content: space-around;
  }
  .about-container img {
    width: 300px;
    height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 40% 80%;
       object-position: 40% 80%;
    margin-right: 30px;
  }
}
/* SIGN UP/ SIGN IN FORM  */
.signup-in {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
.signup-in .signup-in-modal-content {
  background-color: #f4f4f4;
  margin: 10% auto;
  width: 70%;
  box-shadow: 0 0 30px 0 rgb(81, 81, 81);
  position: relative;
  border-radius: 5px;
  min-height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.signup-in .signup-in-modal-content .close-btn {
  position: absolute;
  top: 4%;
  right: 3%;
  font-size: 3rem;
  z-index: 1;
  cursor: pointer;
}
.signup-in .signup-in-modal-content .close-btn:hover {
  color: #51603e;
  transition: 0.2s ease-out;
}
.signup-in .signup-in-modal-content .signup-in-modal-content-left {
  background: linear-gradient(60deg, #faf3d1 0%, rgba(244, 162, 89, 0.5) 100%);
  border-radius: 0 5px 5px 0;
  position: relative;
}
.signup-in .signup-in-modal-content .signup-in-modal-content-left img {
  filter: invert(35%) sepia(6%) saturate(2321%) hue-rotate(44deg) brightness(92%) contrast(82%);
  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.signup-in .signup-in-modal-content .signup-in-modal-content-right {
  border-radius: 0 5px 5px 0;
  position: relative;
}
.signup-in .signup-in-modal-content .signup-in-modal-content-right .signup-in-modal-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signup-in .signup-in-modal-content .signup-in-modal-content-right .signup-in-modal-form h1 {
  font-size: 1rem;
  text-align: start;
  width: 80%;
  margin-bottom: 1rem;
}
.signup-in .signup-in-modal-content .signup-in-modal-content-right .signup-in-modal-form .form-validation {
  margin-bottom: 0.7rem;
  width: 80%;
}
.signup-in .signup-in-modal-content .signup-in-modal-content-right .signup-in-modal-form .form-validation.error {
  margin-bottom: 1.7rem;
  position: relative;
  border: 1px solid #c6553c;
  border-radius: 2px;
}
.signup-in .signup-in-modal-content .signup-in-modal-content-right .signup-in-modal-form .form-validation.error p {
  display: block;
}
.signup-in .signup-in-modal-content .signup-in-modal-content-right .signup-in-modal-form .form-validation.valid {
  margin-bottom: 0.5rem;
  position: relative;
  border: 1px solid #12b012;
  border-radius: 2px;
}
.signup-in .signup-in-modal-content .signup-in-modal-content-right .signup-in-modal-form .form-validation p {
  font-size: 0.9rem;
  margin-top: 1rem;
  color: #c6553c;
  display: none;
  position: absolute;
  top: 1.8rem;
}
.signup-in .signup-in-modal-content .signup-in-modal-content-right .signup-in-modal-form .form-validation .modal-input {
  display: block;
  padding-left: 0.5rem;
  outline: none;
  border-radius: 2px;
  border: none;
  height: 2.7rem;
  width: 100%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
}
.signup-in .signup-in-modal-content .signup-in-modal-content-right .signup-in-modal-form .form-validation .modal-input::-moz-placeholder {
  color: #b1b1b1;
}
.signup-in .signup-in-modal-content .signup-in-modal-content-right .signup-in-modal-form .form-validation .modal-input:-ms-input-placeholder {
  color: #b1b1b1;
}
.signup-in .signup-in-modal-content .signup-in-modal-content-right .signup-in-modal-form .form-validation .modal-input::placeholder {
  color: #b1b1b1;
}
.signup-in .signup-in-modal-content .signup-in-modal-content-right .signup-in-modal-form .modal-input-btn {
  width: 80%;
  height: 2.5rem;
  padding: 7px;
  border-radius: 10px;
  background-color: #f4e285;
  outline: none;
  border: none;
  font-weight: 700;
  color: #1f2421;
  font-size: 1rem;
  transition: all 0.2s ease-out;
  box-shadow: 2px 2px 0.4rem rgba(0, 0, 0, 0.2);
}
.signup-in .signup-in-modal-content .signup-in-modal-content-right .signup-in-modal-form .modal-input-btn:hover {
  background-color: #f4a259;
  color: #fff;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.2);
}
.signup-in .signup-in-modal-content .signup-in-modal-content-right .signup-in-modal-form .modal-input-login {
  font-size: 0.8rem;
  margin-top: 1rem;
  width: 80%;
  color: #b1b1b1;
  text-align: center;
}
.signup-in .signup-in-modal-content .signup-in-modal-content-right .signup-in-modal-form .modal-input-login a {
  text-decoration: none;
  color: #51603e;
  font-size: 600;
}

@media screen and (max-width: 768px) {
  .signup-in .signup-in-modal-content-left {
    display: none;
  }
  .signup-in .signup-in-modal-content {
    grid-template-columns: 1fr;
    margin: 15% auto;
    width: 70%;
    height: 75%;
  }
}
@media screen and (max-width: 580px) {
  .signup-in .signup-in-modal-content {
    margin: 20% auto;
    width: 90%;
    height: 80%;
  }
  .signup-in .signup-in-modal-content .signup-in-modal-content-right .signup-in-modal-form .form-validation p {
    font-size: 0.8rem;
    margin-top: 0.8rem;
  }
}
/* JOIN EMAIL-LIST */
.modal-content {
  padding: 18px;
  border-radius: 4px;
  border: 6px solid #f4a259;
  box-shadow: 0 0 30px 0 rgb(81, 81, 81);
  background-color: #f2f4f8;
  height: auto;
  min-width: 0;
}
.modal-content .email-list-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.modal-content .email-list-header h4 {
  color: #000;
  font-size: 1.5rem;
  padding: 0 10px;
}
.modal-content .email-list-header .btn-close {
  color: #51603e;
}

.email-additional a {
  text-decoration: none;
  font-size: 16px;
  color: #cc6d58;
  margin-right: 20px;
}

.your-email {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.your-email .button {
  padding: 3px 20px;
  font-weight: 700;
  height: 40px;
  /* to match the height of email input*/
  border-radius: 4px;
  background-color: #f4e285;
  outline: none;
  border: none;
  color: #1f2421;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
  box-shadow: 2px 2px 0.4rem rgba(0, 0, 0, 0.2);
}
.your-email .button:hover, .your-email .button:active {
  background-color: #f4a259;
  color: #fff;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.your-email input[type=email] {
  padding: 6px;
  border: 1px solid #aaa;
  box-sizing: border-box;
  width: 100%;
}

.info-text {
  font-size: 18px;
  font-weight: 700;
}

.feedback-location-container {
  margin-top: 30px auto;
}
.feedback-location-container > h1 {
  color: #f2f4f8;
  font-weight: 700;
  height: 5rem;
  background-image: linear-gradient(rgba(250, 243, 209, 0.5), rgba(0, 0, 0, 0.7)), url("https://tienbui1311.github.io/life-coach-toronto/img/IMG_9730.jpg");
  background-size: cover;
  background-position: bottom center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* LOCATION SECTION */
.location-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.location-container .location-address h5 {
  border: 1px solid #f4a259;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  border-radius: 10px;
  padding: 10px 10px 7px 10px;
}

/* FEEDBACK SECTION */
.feedback {
  background-color: #faf3d1;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}
.feedback h3 {
  color: #51603e;
}
.feedback .feedback-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.feedback .feedback-form > div {
  margin-bottom: 20px;
}
.feedback .feedback-form .optional-info {
  width: 100%;
}
.feedback .feedback-form .optional-info > div {
  padding: 5px 0;
}
.feedback .feedback-form .optional-info .feedback-input {
  display: block;
  padding-left: 0.5rem;
  outline: none;
  border-radius: 2px;
  border: none;
  height: 2rem;
  width: 90%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
}
.feedback .feedback-form .optional-info .feedback-input::-moz-placeholder {
  color: #b1b1b1;
}
.feedback .feedback-form .optional-info .feedback-input:-ms-input-placeholder {
  color: #b1b1b1;
}
.feedback .feedback-form .optional-info .feedback-input::placeholder {
  color: #b1b1b1;
}
.feedback .feedback-form .required-info {
  width: 100%;
}
.feedback .feedback-form .required-info > div {
  padding: 5px 0;
}
.feedback .feedback-form .required-info .feedback-message {
  display: block;
  padding-left: 0.5rem;
  outline: none;
  border-radius: 2px;
  border: none;
  width: 90%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
}
.feedback .feedback-form .required-info .feedback-message::-moz-placeholder {
  color: #b1b1b1;
}
.feedback .feedback-form .required-info .feedback-message:-ms-input-placeholder {
  color: #b1b1b1;
}
.feedback .feedback-form .required-info .feedback-message::placeholder {
  color: #b1b1b1;
}
.feedback .join-email-list > div {
  display: flex;
  align-items: baseline;
}
.feedback .join-email-list > div > input {
  margin-right: 5px;
}
.feedback button {
  width: 90%;
  height: 2.5rem;
  border-radius: 10px;
  background-color: #f4e285;
  outline: none;
  border: none;
  color: #1f2421;
  font-size: 1rem;
  transition: all 0.4s ease-out;
  box-shadow: 2px 2px 0.4rem rgba(0, 0, 0, 0.2);
}
.feedback button:hover {
  background-color: #f4a259;
  color: #fff;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
  .feedback .feedback-form .optional-info {
    width: 60%;
  }
  .feedback .feedback-form .required-info .feedback-message {
    max-width: 55%;
  }
  .feedback button {
    width: 40%;
    max-width: 400px;
    text-transform: uppercase;
    font-weight: 700;
  }
}
@media (min-width: 992px) {
  .feedback-location-container > div {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
  .feedback-location-container > div .feedback {
    width: 50%;
    max-width: 600px;
  }
  .feedback-location-container > div .feedback .feedback-form {
    width: 100%;
  }
  .feedback-location-container > div .feedback .feedback-form .optional-info {
    width: 70%;
  }
  .feedback-location-container > div .feedback .feedback-form .required-info .feedback-message {
    max-width: 70%;
  }
}
/* Landing Page/Introduction section */
.introduction {
  height: 400px;
  position: relative;
  background-image: linear-gradient(rgba(242, 244, 248, 0.7), rgba(250, 243, 209, 0.9));
}
.introduction .intro-img {
  display: none;
}
.introduction .intro-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 25%;
  padding: 0 30px;
}
.introduction .intro-content h3 {
  color: #333734;
  margin-top: 5px;
}
.introduction .intro-content p {
  font-weight: 500;
  margin: 10px 20px;
}

/* ====== BREAK POINTS

Medium (md) devices (tablets, 768px and up) 

======*/
@media (min-width: 768px) {
  /* Introduction */
  .intro-content {
    width: 500px;
  }
}
html {
  font-size: 100%;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Vazirmatn", sans-serif;
  font-size: 16px;
  line-height: 1.6rem;
  color: #1f2421;
  background-color: #f2f4f8;
}

p {
  margin: 0;
}

h1 {
  color: #51603e;
}

/* Footer */
footer {
  background-color: #51603e;
  color: #f2f4f8;
  height: 80px;
  margin-top: 20px;
}
footer .copyright {
  padding: 20px;
}

/* Services section */
.services-container {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  padding: 0 30px;
  background-color: #faf3d1;
}

.service {
  display: flex;
  flex-direction: column;
  margin: 20px;
  justify-content: space-between;
  background-color: rgba(242, 244, 248, 0.8);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 20px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.service .service-content {
  margin: 10px 0;
}
.service a {
  text-decoration: none;
}

/*====== BREAK POINTS

Large (lg) devices (desktops, 992px and up) 

==========*/
@media (min-width: 992px) {
  /* Service section */
  .services-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 20px;
  }
}
/* SIGN UP/ SIGN IN FORM  */
.signup-in {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
.signup-in .signup-in-modal-content {
  background-color: #f4f4f4;
  margin: 10% auto;
  width: 70%;
  box-shadow: 0 0 30px 0 rgb(81, 81, 81);
  position: relative;
  border-radius: 5px;
  min-height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.signup-in .signup-in-modal-content .close-btn {
  position: absolute;
  top: 4%;
  right: 3%;
  font-size: 3rem;
  z-index: 1;
  cursor: pointer;
}
.signup-in .signup-in-modal-content .close-btn:hover {
  color: #51603e;
  transition: 0.2s ease-out;
}
.signup-in .signup-in-modal-content .signup-in-modal-content-left {
  background: linear-gradient(60deg, #faf3d1 0%, rgba(244, 162, 89, 0.5) 100%);
  border-radius: 0 5px 5px 0;
  position: relative;
}
.signup-in .signup-in-modal-content .signup-in-modal-content-left img {
  filter: invert(35%) sepia(6%) saturate(2321%) hue-rotate(44deg) brightness(92%) contrast(82%);
  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.signup-in .signup-in-modal-content .signup-in-modal-content-right {
  border-radius: 0 5px 5px 0;
  position: relative;
}
.signup-in .signup-in-modal-content .signup-in-modal-content-right .signup-in-modal-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signup-in .signup-in-modal-content .signup-in-modal-content-right .signup-in-modal-form h1 {
  font-size: 1rem;
  text-align: start;
  width: 80%;
  margin-bottom: 1rem;
}
.signup-in .signup-in-modal-content .signup-in-modal-content-right .signup-in-modal-form .form-validation {
  margin-bottom: 0.7rem;
  width: 80%;
}
.signup-in .signup-in-modal-content .signup-in-modal-content-right .signup-in-modal-form .form-validation.error {
  margin-bottom: 1.7rem;
  position: relative;
  border: 1px solid #c6553c;
  border-radius: 2px;
}
.signup-in .signup-in-modal-content .signup-in-modal-content-right .signup-in-modal-form .form-validation.error p {
  display: block;
}
.signup-in .signup-in-modal-content .signup-in-modal-content-right .signup-in-modal-form .form-validation.valid {
  margin-bottom: 0.5rem;
  position: relative;
  border: 1px solid #12b012;
  border-radius: 2px;
}
.signup-in .signup-in-modal-content .signup-in-modal-content-right .signup-in-modal-form .form-validation p {
  font-size: 0.9rem;
  margin-top: 1rem;
  color: #c6553c;
  display: none;
  position: absolute;
  top: 1.8rem;
}
.signup-in .signup-in-modal-content .signup-in-modal-content-right .signup-in-modal-form .form-validation .modal-input {
  display: block;
  padding-left: 0.5rem;
  outline: none;
  border-radius: 2px;
  border: none;
  height: 2.7rem;
  width: 100%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
}
.signup-in .signup-in-modal-content .signup-in-modal-content-right .signup-in-modal-form .form-validation .modal-input::-moz-placeholder {
  color: #b1b1b1;
}
.signup-in .signup-in-modal-content .signup-in-modal-content-right .signup-in-modal-form .form-validation .modal-input:-ms-input-placeholder {
  color: #b1b1b1;
}
.signup-in .signup-in-modal-content .signup-in-modal-content-right .signup-in-modal-form .form-validation .modal-input::placeholder {
  color: #b1b1b1;
}
.signup-in .signup-in-modal-content .signup-in-modal-content-right .signup-in-modal-form .modal-input-btn {
  width: 80%;
  height: 2.5rem;
  padding: 7px;
  border-radius: 10px;
  background-color: #f4e285;
  outline: none;
  border: none;
  font-weight: 700;
  color: #1f2421;
  font-size: 1rem;
  transition: all 0.2s ease-out;
  box-shadow: 2px 2px 0.4rem rgba(0, 0, 0, 0.2);
}
.signup-in .signup-in-modal-content .signup-in-modal-content-right .signup-in-modal-form .modal-input-btn:hover {
  background-color: #f4a259;
  color: #fff;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.2);
}
.signup-in .signup-in-modal-content .signup-in-modal-content-right .signup-in-modal-form .modal-input-login {
  font-size: 0.8rem;
  margin-top: 1rem;
  width: 80%;
  color: #b1b1b1;
  text-align: center;
}
.signup-in .signup-in-modal-content .signup-in-modal-content-right .signup-in-modal-form .modal-input-login a {
  text-decoration: none;
  color: #51603e;
  font-size: 600;
}

@media screen and (max-width: 768px) {
  .signup-in .signup-in-modal-content-left {
    display: none;
  }
  .signup-in .signup-in-modal-content {
    grid-template-columns: 1fr;
    margin: 15% auto;
    width: 70%;
    height: 75%;
  }
}
@media screen and (max-width: 580px) {
  .signup-in .signup-in-modal-content {
    margin: 20% auto;
    width: 90%;
    height: 80%;
  }
  .signup-in .signup-in-modal-content .signup-in-modal-content-right .signup-in-modal-form .form-validation p {
    font-size: 0.8rem;
    margin-top: 0.8rem;
  }
}
/* JOIN EMAIL-LIST */
.modal-content {
  padding: 18px;
  border-radius: 4px;
  border: 6px solid #f4a259;
  box-shadow: 0 0 30px 0 rgb(81, 81, 81);
  background-color: #f2f4f8;
  height: auto;
  min-width: 0;
}
.modal-content .email-list-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.modal-content .email-list-header h4 {
  color: #000;
  font-size: 1.5rem;
  padding: 0 10px;
}
.modal-content .email-list-header .btn-close {
  color: #51603e;
}

.email-additional a {
  text-decoration: none;
  font-size: 16px;
  color: #cc6d58;
  margin-right: 20px;
}

.your-email {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.your-email .button {
  padding: 3px 20px;
  font-weight: 700;
  height: 40px;
  /* to match the height of email input*/
  border-radius: 4px;
  background-color: #f4e285;
  outline: none;
  border: none;
  color: #1f2421;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
  box-shadow: 2px 2px 0.4rem rgba(0, 0, 0, 0.2);
}
.your-email .button:hover, .your-email .button:active {
  background-color: #f4a259;
  color: #fff;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.your-email input[type=email] {
  padding: 6px;
  border: 1px solid #aaa;
  box-sizing: border-box;
  width: 100%;
}

.info-text {
  font-size: 18px;
  font-weight: 700;
}

/* ======= BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px) and Small (sm) devices (landscape phones, 576px and up) 

==========*/
/* Header */
.navbar {
  display: none;
}

.HH-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 50px);
  margin: 20px auto;
}
.HH-header-container .logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.HH-header-container .logo-container .logo {
  width: 60px;
  height: 60px;
}
.HH-header-container .tagline {
  font-family: "Allura", cursive;
  font-size: 24px;
  color: #51603e;
}

.hamburger-icon-container {
  display: block;
  cursor: pointer;
}

@media (min-width: 768px) {
  /* Header */
  .HH-header-container .logo-container .logo {
    width: 80px;
    height: 80px;
  }
}
/*====== BREAK POINTS

Large (lg) devices (desktops, 992px and up) 

==========*/
@media (min-width: 992px) {
  .hamburger-icon-container {
    display: none;
  }

  .HH-header-container {
    display: block;
    text-align: center;
    /* margin: 20px auto; */
  }
  .HH-header-container .logo-container {
    flex-direction: column;
  }
  .HH-header-container .logo-container .logo {
    width: 100px;
    height: 100px;
  }

  .tagline {
    font-size: 36px;
    width: 50%;
    text-align: center;
    margin-top: 20px;
  }
  .tagline::before, .tagline::after {
    background-color: #51603e;
    content: "";
    display: inline-block;
    height: 1px;
    bottom: 0.1em;
    position: relative;
    vertical-align: baseline;
    width: 20%;
    margin: 0 15px;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 30px;
    padding-left: 40px;
  }

  .navbar-left {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1rem;
  }

  .navbar-left a,
.navbar-right a {
    padding-right: 40px;
    font-size: 1.2em;
    font-weight: 500;
    color: #51603e;
    transition: 0.3s ease-in-out;
  }
  .navbar-left a:hover,
.navbar-right a:hover {
    color: #f4a259;
    font-weight: 700;
  }

  .logo-container a,
.navbar a {
    text-decoration: none;
    width: 125px;
  }
}
/* Side menu */
.side-menu-design {
  background-color: rgba(242, 244, 248, 0.8);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.side-menu-design .side-menu-header {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  align-items: center;
}
.side-menu-design .side-menu-header .logo {
  width: 60px;
  height: 60px;
  filter: invert(35%) sepia(6%) saturate(2321%) hue-rotate(44deg) brightness(92%) contrast(82%);
}
.side-menu-design .side-menu-header .side-menu-close-button {
  width: 30px;
  cursor: pointer;
  filter: invert(35%) sepia(6%) saturate(2321%) hue-rotate(44deg) brightness(92%) contrast(82%);
}

.side-menu-position {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* inset: 0px; Should I use inset here instead of top, right, bottom, left? */
  width: 100%;
  /* the height doesnt cover the whole page vw, wh or percentage? */
  height: 100%;
  z-index: 6;
  opacity: 0;
  transform: translateX(-100%);
  /* there are no transition fading out */
}

.side-menu-content {
  opacity: 0;
  transform: translateX(-110%);
  transition: all 500ms ease-in-out 0.5s;
}
.side-menu-content a {
  text-decoration: none;
  display: block;
  font-size: 1.3rem;
  font-weight: 500;
  color: #1f2421;
  padding: 20px 0;
}
.side-menu-content hr {
  height: 0;
  border: 2px solid #51603e;
}
.side-menu-content .mobileNav-top {
  padding-left: 60px;
}
.side-menu-content .mobileNav-top a:hover {
  color: #f4a259;
}

.mobileNav-bottom {
  padding: 10px 20px;
}
.mobileNav-bottom .HH-button.sign-in {
  padding: 13px 13px 10px 13px;
  width: 100%;
}

.show-menu {
  opacity: 1;
  transform: translateX(0%);
  transition: opacity 500ms ease-in-out 0s;
}

.overflow {
  overflow: hidden;
}

/* DROPDOWN MENU */
.dropdowns {
  position: relative;
  display: none;
}

.hh-dropdown-menu {
  background-color: #fff;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  /* creates a border */
  border-radius: 8px;
  display: none;
  padding: 15px;
  position: absolute;
  /* pops element up in the dom */
  top: 10px;
  /* just visually aligned this */
  width: 250px;
  z-index: 5;
  -webkit-animation: dropdown 0.7s;
          animation: dropdown 0.7s;
  /* add 'forwards' to prevent the dropdown box to jump back up IF the second translateY position IS NOT at 0% */
  will-change: transform;
}
.hh-dropdown-menu::after {
  position: absolute;
  top: -10px;
  left: 5%;
  width: 0;
  height: 0;
  content: "";
  border-bottom: 15px solid #fff;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}
.hh-dropdown-menu#coaching {
  left: 41px;
}
.hh-dropdown-menu#services {
  left: 184px;
  /* min-width: 400px;  */
}
.hh-dropdown-menu#contact {
  left: 472px;
  /* min-width: 400px; */
}
.hh-dropdown-menu .dropdown-item-list {
  margin: 0;
  padding-left: 0;
}
.hh-dropdown-menu .dropdown-item-list li {
  list-style: none;
}
.hh-dropdown-menu .dropdown-item-list li a, .hh-dropdown-menu .dropdown-item-list li a:visited, .hh-dropdown-menu .dropdown-item-list li a:focus {
  color: #1f2421;
  display: block;
  padding: 10px;
  /* just a little padding on the top and bottom */
  text-decoration: none;
}
.hh-dropdown-menu .dropdown-item-list li a:hover {
  background-color: rgba(244, 226, 133, 0.4);
  color: #51603e;
}

@-webkit-keyframes dropdown {
  from {
    transform: translateY(-3%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes dropdown {
  from {
    transform: translateY(-3%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
.show {
  display: block;
  text-align: left;
}

@media (min-width: 992px) {
  .dropdowns {
    display: block;
  }
}
.HH-button {
  cursor: pointer;
  line-height: 1.6rem;
  background-color: #f4e285;
  box-shadow: 2px 2px 0.4rem rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  color: #51603e;
  padding: 10px 10px 7px 10px;
  transition: 0.3s ease-in-out;
  width: calc(100% - 100px);
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  max-width: 350px;
}
.HH-button:hover {
  background-color: #f4a259;
  color: #fff;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.2);
}

.btn-small {
  font-size: 16px;
}/*# sourceMappingURL=main.css.map */