@use "../abstracts/colors" as c;
html {
  font-size: 100%;
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  font-family: "Vazirmatn", sans-serif;
  font-size: 16px;
  line-height: 1.6rem;
  color: c.$maintext;
  background-color: c.$mainbg;
}
p {
  margin: 0;
}
h1 {
  color: c.$dark-green;
}
/* Footer */
footer {
  background-color: c.$dark-green;
  color: c.$mainbg;
  height: 80px;
  margin-top: 20px;
  .copyright {
    padding: 20px;
  }
}
