/* Landing Page/Introduction section */
.introduction {
  height: 400px;
  position: relative;
  background-image: linear-gradient(
    rgba(252, 247, 238, 0.7),
    rgba(244, 226, 133, 0.7)
  );
  .intro-img {
    display: none;
  }
  .intro-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 25%;
    padding: 0 30px;
    h3 {
      color: #333734;
      margin-top: 5px;
    }
    p {
      font-weight: 500;
      margin: 10px 20px;
    }
  }
}
/* ====== BREAK POINTS

Medium (md) devices (tablets, 768px and up) 

======*/
@media (min-width: 768px) {
  /* Introduction */
  .intro-content {
    width: 500px;
  }
}
