@use "../abstracts/colors" as c;
/* Side menu */
.side-menu-design {
  background-color: rgba(c.$mainbg, 0.8);
  backdrop-filter: blur(10px);
  .side-menu-header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    align-items: center;
    .logo {
      width: 60px;
      height: 60px;
      filter: invert(35%) sepia(6%) saturate(2321%) hue-rotate(44deg)
        brightness(92%) contrast(82%);
    }
    .side-menu-close-button {
      width: 30px;
      cursor: pointer;
      filter: invert(35%) sepia(6%) saturate(2321%) hue-rotate(44deg)
        brightness(92%) contrast(82%);
    }
  }
}
.side-menu-position {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* inset: 0px; Should I use inset here instead of top, right, bottom, left? */
  width: 100%;
  /* the height doesnt cover the whole page vw, wh or percentage? */
  height: 100%;
  z-index: 6;
  opacity: 0;
  transform: translateX(-100%);
  /* there are no transition fading out */
}
.side-menu-content {
  opacity: 0;
  transform: translateX(-110%);
  transition: all 500ms ease-in-out 0.5s;
  a {
    text-decoration: none;
    display: block;
    font-size: 1.3rem;
    font-weight: 500;
    color: c.$maintext;
    padding: 20px 0;
  }
  hr {
    height: 0;
    border: 2px solid c.$dark-green;
  }
  .mobileNav-top {
    padding-left: 60px;
    a {
      &:hover {
        color: c.$btnhover;
      }
    }
  }
}
.mobileNav-bottom {
  padding: 10px 20px;
  .HH-button {
    &.sign-in {
      padding: 13px 13px 10px 13px;
      width: 100%;
    }
  }
}
.show-menu {
  opacity: 1;
  transform: translateX(0%);
  transition: opacity 500ms ease-in-out 0s;
}
